<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f50b15f6e2f7f8660ac57ee20ba015da {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f50b15f6e2f7f8660ac57ee20ba015da" ></div>
        
</body>
<script>
    
    
            var map_f50b15f6e2f7f8660ac57ee20ba015da = L.map(
                "map_f50b15f6e2f7f8660ac57ee20ba015da",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a232451e318a556cd02ccc442165a9fe = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f50b15f6e2f7f8660ac57ee20ba015da);
        
    
            var marker_eca26a2b2393ea9b89a10109bdaeb247 = L.marker(
                [19.220927777777778, 73.16733333333333],
                {}
            ).addTo(map_f50b15f6e2f7f8660ac57ee20ba015da);
        
    
        var popup_5222f70928d3ad42ba4257f62122e5cd = L.popup({"maxWidth": "100%"});

        
            
                var html_3def5bec7cd076240a1e437f4bd43fd5 = $(`<div id="html_3def5bec7cd076240a1e437f4bd43fd5" style="width: 100.0%; height: 100.0%;">DJSCE,Kalyan, Ulhasnagar, Thane, Maharashtra, 421002, India</div>`)[0];
                popup_5222f70928d3ad42ba4257f62122e5cd.setContent(html_3def5bec7cd076240a1e437f4bd43fd5);
            
        

        marker_eca26a2b2393ea9b89a10109bdaeb247.bindPopup(popup_5222f70928d3ad42ba4257f62122e5cd)
        ;

        
    
    
            marker_eca26a2b2393ea9b89a10109bdaeb247.bindTooltip(
                `<div>
                     Click for virtual tour
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51318991d8a2b5c08a066d1972c7a76f = L.marker(
                [10.995230555555555, 78.41429444444445],
                {}
            ).addTo(map_f50b15f6e2f7f8660ac57ee20ba015da);
        
    
        var popup_390dc677cf174a520d6cd21a76c7fc30 = L.popup({"maxWidth": "100%"});

        
            
                var html_56d5cf91eb607b1252631e1a177c9984 = $(`<div id="html_56d5cf91eb607b1252631e1a177c9984" style="width: 100.0%; height: 100.0%;">vjj,Alingipallam, Musiri, Tiruchirappalli District, Tamil Nadu, 621211, India</div>`)[0];
                popup_390dc677cf174a520d6cd21a76c7fc30.setContent(html_56d5cf91eb607b1252631e1a177c9984);
            
        

        marker_51318991d8a2b5c08a066d1972c7a76f.bindPopup(popup_390dc677cf174a520d6cd21a76c7fc30)
        ;

        
    
    
            marker_51318991d8a2b5c08a066d1972c7a76f.bindTooltip(
                `<div>
                     Click for virtual tour
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_67fd6a5505b300152b92fb56ded85965 = L.marker(
                [30.84928888888889, 75.4186611111111],
                {}
            ).addTo(map_f50b15f6e2f7f8660ac57ee20ba015da);
        
    
        var popup_1d40e725b0e5d8dcc763c8e34e3b649e = L.popup({"maxWidth": "100%"});

        
            
                var html_9b2b04bb9336bc1a3a2e76dd0b00e2c7 = $(`<div id="html_9b2b04bb9336bc1a3a2e76dd0b00e2c7" style="width: 100.0%; height: 100.0%;">VJTI,Galib Khurd, Jagraon Tahsil, Ludhiana, Punjab, 142036, India</div>`)[0];
                popup_1d40e725b0e5d8dcc763c8e34e3b649e.setContent(html_9b2b04bb9336bc1a3a2e76dd0b00e2c7);
            
        

        marker_67fd6a5505b300152b92fb56ded85965.bindPopup(popup_1d40e725b0e5d8dcc763c8e34e3b649e)
        ;

        
    
    
            marker_67fd6a5505b300152b92fb56ded85965.bindTooltip(
                `<div>
                     Click for virtual tour
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>